
.titled-pane > .title{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

#listView .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-text-fill: black;
}

