.parent{
    -fx-background-color: #fff;
}

.sidebar{
    -fx-background-color: #333645;
}

.titled-pane:focused > .title > .arrow-button .arrow{
    -fx-background-color: white;
}

.titled-pane > *.content{
    -fx-background-color: transparent;
}

.titled-pane{
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 18px;
    -fx-background-color: transparent;
}

.titled-pane:focused > .title{
    -fx-background-color:  #00A2D3 ;
}

.titled-pane:focused {
    -fx-text-fill: #fff;
}

.titled-pane > .title{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

#listView .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-text-fill: white;
}

#listView .list-cell:even{
    -fx-background-color: transparent;
}

#listView .list-cell:filled:hover{
    -fx-text-fill: white;
}

#listView .list-cell{
    -fx-background-color: transparent;
    -fx-text-fill: #b4b4b4;
}

#listView{
    -fx-background-color: transparent;
}